- if @user.errors.any?
  .div#error_explanation
    .alert.alert-error
      The form contains
      = succeed '.' do
        = pluralize(@user.errors.count, "error")
    %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
